<a href="https://colab.research.google.com/github/Makarandhsrisanth/2025-2026-even-AIB-DS-srisanth-/blob/main/10_02_2026_srisanth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
data={'NAME': ['alice','bob','claire','david'],
      'AGE': [25,30,27,22]
      }
df=pd.DataFrame(data)
print("Original Dataframe")
print(df)
print(df[df["NAME"]=='Alice'])
print([df["NAME"]=='charlie'])

Original Dataframe
     NAME  AGE
0   alice   25
1     bob   30
2  claire   27
3   david   22
Empty DataFrame
Columns: [NAME, AGE]
Index: []
[0    False
1    False
2    False
3    False
Name: NAME, dtype: bool]

In [12]:
import pandas as pd

data = {
    'NAME': ['alice', 'bob', 'claire', 'david'],
    'AGE': [25, 30, 27, 22]
}

# filtering data
df = pd.DataFrame(data)

print("original dataframe")
print(df)

print(df[df["NAME"] == 'alice'])
print(df[df["NAME"] == 'charlie'])

original dataframe
     NAME  AGE
0   alice   25
1     bob   30
2  claire   27
3   david   22
    NAME  AGE
0  alice   25
Empty DataFrame
Columns: [NAME, AGE]
Index: []

In [14]:
import pandas as pd

# data manipulation operations
data = {
    "NAME": ["A", "B", "C"],
    "AGE": [20, 21, 23],
    "MARKS": [70, 80, 90]
}

df = pd.DataFrame(data)
print("original data:")
print(df)

# adding new column
df["BONUS"] = 5
print("\nafter adding bonus:")
print(df)

# increase marks
df["MARKS"] = df["MARKS"] + 2
print("\nafter increasing marks:")
print(df)

# create new column from existing columns
df["TOTAL"] = df["MARKS"] + df["BONUS"]
print("\nafter adding total:")
print(df)

# change value
df.loc[0, "AGE"] = 21
print("\nafter changing age:")
print(df)

# rename column
df.rename(columns={"TOTAL": "FINAL"}, inplace=True)
print("\nafter renaming column:")
print(df)

# remove column
df.drop("BONUS", axis=1, inplace=True)
print("\nafter removing bonus:")
print(df)

original data:
  NAME  AGE  MARKS
0    A   20     70
1    B   21     80
2    C   23     90

after adding bonus:
  NAME  AGE  MARKS  BONUS
0    A   20     70      5
1    B   21     80      5
2    C   23     90      5

after increasing marks:
  NAME  AGE  MARKS  BONUS
0    A   20     72      5
1    B   21     82      5
2    C   23     92      5

after adding total:
  NAME  AGE  MARKS  BONUS  TOTAL
0    A   20     72      5     77
1    B   21     82      5     87
2    C   23     92      5     97

after changing age:
  NAME  AGE  MARKS  BONUS  TOTAL
0    A   21     72      5     77
1    B   21     82      5     87
2    C   23     92      5     97

after renaming column:
  NAME  AGE  MARKS  BONUS  FINAL
0    A   21     72      5     77
1    B   21     82      5     87
2    C   23     92      5     97

after removing bonus:
  NAME  AGE  MARKS  FINAL
0    A   21     72     77
1    B   21     82     87
2    C   23     92     97

In [17]:
# Selection Sort

n = int(input("Enter number of elements: "))
arr = []

for i in range(n):
    arr.append(int(input("Enter element: ")))

print("Original array:", arr)

for i in range(n - 1):
    min_index = i
    for j in range(i + 1, n):
        if arr[j] < arr[min_index]:
            min_index = j

    arr[i], arr[min_index] = arr[min_index], arr[i]

print("Sorted array:", arr)

Enter number of elements: 5
Enter element: 15
Enter element: 12
Enter element: 13
Enter element: 16
Enter element: 15
Original array: [15, 12, 13, 16, 15]
Sorted array: [12, 13, 15, 15, 16]

In [18]:
# Bubble Sort

n = int(input("Enter number of elements: "))
arr = []

for i in range(n):
    arr.append(int(input("Enter element: ")))

print("Original array:", arr)

for i in range(n):
    for j in range(0, n - i - 1):
        if arr[j] > arr[j + 1]:
            arr[j], arr[j + 1] = arr[j + 1], arr[j]

print("Sorted array:", arr)

Enter number of elements: 5
Enter element: 13
Enter element: 16
Enter element: 18
Enter element: 19
Enter element: 14
Original array: [13, 16, 18, 19, 14]
Sorted array: [13, 14, 16, 18, 19]

In [ ]:
# Linear Search

n = int(input("Enter number of elements: "))
arr = []

for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))

key = int(input("Enter element to search: "))

found = False

for i in range(n):
    if arr[i] == key:
        print(f"Element {key} found at position {i+1}")
        found = True
        break

if not found:
    print("Element not found")

In [ ]:
# Binary Search

n = int(input("Enter number of elements: "))
arr = []

for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))

arr.sort()
print("Sorted list:", arr)

key = int(input("Enter the key: "))

low = 0
high = n - 1
found = False

while low <= high:
    mid = (low + high) // 2

    if arr[mid] == key:
        print(f"Element {key} found at position {mid + 1}")
        found = True
        break
    elif key < arr[mid]:
        high = mid - 1
    else:
        low = mid + 1

if not found:
    print("Element not found")

In [ ]:
import pandas as pd

# Grouping -> sum, mean, count
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, 85, 75, 90, 88]
}

df = pd.DataFrame(data)
print("The original table:")
print(df)

# Avg marks department wise (mean)
print("\nAverage marks by department:")
print(df.groupby("Department")["Marks"].mean())

# Total marks by department (sum)
print("\nTotal marks by department:")
print(df.groupby("Department")["Marks"].sum())

# Count of students by department
print("\nCount by department:")
print(df.groupby("Department")["Marks"].count())

In [ ]:
import pandas as pd

data = {
    "Name": ["A", "B", "C"],
    "Age": [18, 19, 20],
    "Marks": [85, 90, 80]
}

df = pd.DataFrame(data)
print("Original data:")
print(df)

# Ascending order by Marks
df_sorted = df.sort_values(by="Marks")
print("\nAfter rearranging rows by Marks (asc):")
print(df_sorted)

# Descending order by Marks
df_sorted_desc = df.sort_values(by="Marks", ascending=False)
print("\nAfter rearranging rows by Marks (desc):")
print(df_sorted_desc)
import pandas as pd

data = {
    "Name": ["A", "B", "C", "D"],
    "Marks": [85, 92, 78, 92]
}

df = pd.DataFrame(data)
print("\nOriginal data:")
print(df)

# Ranking (higher marks = better rank)
df["Rank"] = df["Marks"].rank(ascending=False)
print("\nAfter ranking:")
print(df)

In [ ]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]

plt.plot(x, y)
plt.xlabel("X values")
plt.ylabel("Y values")
plt.title("X-Y Graph")
plt.show()
LINE GRAP

In [ ]:
import matplotlib.pyplot as plt

subjects = ["Maths", "Physics", "Chemistry", "CS"]
marks = [80, 75, 85, 90]

plt.bar(subjects, marks)
plt.xlabel("Subjects")
plt.ylabel("Marks")
plt.title("Bar Chart")
plt.show()
BAR