<a href="https://colab.research.google.com/github/Makarandhsrisanth/2025-2026-even-AIB-DS-srisanth-/blob/main/3/2/20206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

fruits = ["apple", "banana", "orange"]


print(fruits)


print(fruits[0])


fruits.append("mango")


print(fruits)

['apple', 'banana', 'orange']
apple
['apple', 'banana', 'orange', 'mango']

In [2]:

colors = ("red", "green", "blue")


print(colors)

print(colors[1])
for color in colors:
    print(color)

('red', 'green', 'blue')
green
red
green
blue

In [3]:

numbers = {1, 2, 3, 4}


print(numbers)


numbers.add(5)


numbers.remove(2)


if 3 in numbers:
    print("3 is in the set")


for num in numbers:
    print(num)

{1, 2, 3, 4}
3 is in the set
1
3
4
5

In [4]:

student = {
    "name": "Alice",
    "age": 20,
    "course": "Python"
}


print(student)


print(student["name"])

student["grade"] = "A"


student["age"] = 21


for key, value in student.items():
    print(key, ":", value)

{'name': 'Alice', 'age': 20, 'course': 'Python'}
Alice
name : Alice
age : 21
course : Python
grade : A